.navbar li a {
	font-family: 'Montserrat', sans-serif;
	margin: 10px;
	color: #000!important;
	font-weight: 500;
	font-size: 16px;
}

.bg-white {
	background-color: #fff;
	height: 80px;
}

.gradientbox {
	background: linear-gradient(140deg, rgba(143,190,64,1) 10%, rgba(24,157,207,1) 100%);
	padding: 40px;
	color: #fff;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

.whitebox {
	background: #fff;
	padding: 40px;
	color: #000;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	
}

.greybox {
	background: #282828;
	padding: 40px;
	color: #000;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	border-radius: 10px!important;
	font-style: 16px;
}

.h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 700!important;
	font-size: 	2em!important;
	margin-bottom: 3%!important;
}

.h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 700!important;
	font-size: 	1.5em!important;
	margin-bottom: 3%!important;
}

.h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 700!important;
	font-size: 	1.2em!important;
}

.homeimage {
	margin-bottom: 3%;
	margin-top: 3%;
  	width: 100%;
}

.courses-icon {
	opacity: 0.7;
	width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  margin-top: 3%;
  display: block;
}

.services-icon {
	opacity: 0.7;
	width: auto;
	height: 60px;
  margin-bottom: 3%;
  margin-top: 3%;
  display: block;
}

.homelogo {
	margin-bottom: 2%;
	margin-top: 2%;
  	width: 100%;
  	max-width: 300px;
}

.benefits {
	margin-bottom: 2%;
}


/*Small devices*/
@media (max-width: 768px) {
	button.navbar-toggler {
        position: absolute !important;
        right: 20px !important;
        top: auto !important;
		bottom:auto;
    }
	.logo {
	width: 42%;
	
	}
	.navbar-add-padding {
		height: 8vh !important;
	}
}


/*Medium devices*/
@media (min-width: 768px) {
	button.navbar-toggler {
        position: absolute !important;
        right: 20px !important;
    }
	
	.logo {
		width: 25%;
		
	}

	.navbar-add-padding {
		height: 8vh !important;
	}
}
/*Edit size of Landing Page text between several sizes*/
@media (min-width: 992px) and (max-width: 1188px) {
	.resize-h1 {
		font-size: 200%;
	}
}

/*Large devices*/
@media (min-width: 992px) {
	.logo {
		width: 20%;
		
	}

	.navbar-add-padding {
		height: 6vh !important;
	}
}

/*Extra large devices*/
@media (min-width: 1200px) {
.logo {
	width: 40%;
	max-height:6vh;
	}
}