@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/** Footer **/
footer {
    background-color:#282828;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    position: absolute;
}

.footer-header-main {
    font-size: 1.7em;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.footer-header-small {
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.footer-copyright {
    font-size:0.8em;
}

.footer-sm {
    display:none;
}

hr { 
    border-top: 2px solid white; 
}

.fa-xs {
    padding-left: 10px;
}
.fa-chevron-up {
    transition: all 0.3s ease;
    
 }
.btn.collapsed .fa-chevron-up {
  transform: rotate(180deg);
  padding-right: 10px;
}



/** Footer Media Queries **/

/** Collapseable Footer for Mobile View **/
@media (max-width: 767px) {
    .footer-lg-md {
        display:none;
    }
    .footer-sm {
        display: contents;
    }
        
}